
.custom-search{
    @include flex(space-between, center);

    &-input{
        flex-basis: 75%;
        padding: 0 10px;
        height: 40px;
    }

    &-button{
        flex-basis: 25%;
        height: 40px;
        margin-left: 20px;
        @include flex(center, center);
        background-color: $blue-primary;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        border: 2px solid $blue-primary;
        transition: 0.3s;
        border-radius: 20px;
        cursor: pointer;

        &:hover{
            background-color: $white;
            color: $blue-primary;
        }

        span{
            margin-left: 5px;
        }
    }
}